<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Tel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><%= user.tel %></td>
        <td>
          <%= link_to 'Show', company_group_user_path(@company, @group, user) %><br />
          <%= link_to 'Edit', edit_company_group_user_path(@company, @group, user) %><br />
          <%= link_to 'Destroy', company_group_user_path(@company, @group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_company_group_user_path(@company, @group) %>
